.link {
	border-radius: 0.5rem;
	align-items: center;
	padding: 0.6rem 0.7rem 0.5rem;
	font-size: 0.8rem;
	line-height: 1.1;
	text-decoration: none;
	display: flex;
	position: relative;
	overflow: hidden;
	vertical-align: top;
	color: #222;
	text-align: left;
	margin-left: auto;
	margin-right: auto;

	&.active {
		color: #000;
		font-weight: 600;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: var(--black-9, rgba(0, 0, 0, 0.06));
		border-radius: 0.4rem;
		transform: scale(40%);
		opacity: 0;
		transition: all 0.25s cubic-bezier(0.65, 0, 0.35, 1);
	}

	&:hover::before {
		opacity: 1;
		transform: scale(100%);
	}
}
