$index: calc(1vh + 1vw);

.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 6rem 1rem;
	flex-grow: 1;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
