.button {
	width: auto;
	border-radius: 0.9rem;
	padding: 0.6rem 0.8rem 0.5rem;
	font-size: 0.8rem;
	color: #fff;
	background-color: #1a1919;
	border: 2px solid #1a1919;
	cursor: pointer;
	transition: all 0.25s cubic-bezier(0.65, 0, 0.35, 1);

	&:not([disabled]):hover {
		border-radius: 1.4rem;
		transform: translate(-2px, -2px);
		box-shadow: 2px 3px rgba(0, 0, 0, 1);
	}

	&:disabled {
		background-color: #929292;
		border: 2px solid #929292;
	}
}

.white-black {
	font-weight: 600;
	color: #fff;
	background-color: transparent;
	border-color: #fff;
	&:hover {
		transform: translate(-4px, -4px);
		box-shadow: 3px 3px rgba(255, 255, 255, 0.7);
	}
}

.black-white {
	font-weight: 600;
	color: #000;
	background-color: transparent;
	border-color: #000;
	&:hover {
		transform: translate(-4px, -4px);
		box-shadow: 3px 2px rgba(0, 0, 0, 0.6);
	}
}

.white {
	font-weight: 600;
	color: #000;
	background-color: #fff;
	border-color: #fff;
	&:hover {
		transform: translate(-4px, -4px);
		box-shadow: 3px 3px rgba(255, 255, 255, 0.6);
	}
}
