.boxHeader {
	width: 100vw;
	background-color: rgba(0, 0, 0, 0);
	justify-content: center;
	display: flex;
	position: fixed;
	z-index: 3;

	.header {
		backdrop-filter: blur(0.6rem);
		background-color: rgba(255, 255, 255, 0.85);
		border-radius: 0.6rem;
		align-items: center;
		margin-top: 1rem;
		padding: 0.4rem 0.4rem 0.4rem 0.9rem;
		display: flex;
		position: relative;
		box-shadow: 0 1px rgba(0, 0, 0, 0.08);

		nav {
			display: flex;
			position: static;
		}
	}
}

@media screen and (max-width: 320px) {
	.boxHeader {
		.header {
			width: 95vw;
			nav {
				width: 100%;
				justify-content: space-between;
			}
		}
	}
}
